<!DOCTYPE html>
<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements.  See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership.  The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License.  You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied.  See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<html>
	<head>
		<!--
	  Customize this policy to fit your own app's needs. For more guidance, see:
	  https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
	  Some notes:
	  * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
	  * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
	  * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
	  * Enable inline JS: add 'unsafe-inline' to default-src
		-->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.gstatic.com/ https://fonts.googleapis.com/; font-src 'self' https://fonts.googleapis.com/ https://fonts.gstatic.com/; media-src *; img-src 'self' data: content:;">
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/transitions.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
		<title>Hello World</title>
	</head>
	<body>
		<main class="app" id="app" style="display:none;">
		<div class="navbar-fixed">
			<nav class="navbar-extended">
				<div class="container row">
					<div class="nav-wrapper">
						<span class="nav-title">{{title}}</span>
						<a class="btn-floating btn-large halfway-fab waves-effect waves-light blue" v-on:click="onClickAdd()">
							<i class="material-icons">add</i>
						</a>
					</div>
				</div>
			</nav>
		</div>

		<div class="main-view">
			<div class="container" id="set-list">
				<transition-group name="list">
					<div class="card-panel" v-for="(set, index) in sets" v-on:click="onClickSet(index, this.form)" v-bind:key="set">
						<div id="more" v-if="set.show_more">
							Edit this dot:
							<form>
								<div class="row">
									<div class="input-field col s6" v-on:click.stop>
										<input id="id" type="text" class="validate" v-model="set.id">
										<label class="active" for="id">ID/#</label>
									</div>
									<div class="input-field col s6" v-on:click.stop>
										<input name="side" class="with-gap" type="radio" value="1" v-bind:id="'side_one'+index" v-model="set.side" />
										<label v-bind:for="'side_one'+index">S1</label>
										<input name="side" class="with-gap" type="radio" value="2" v-bind:id="'side_two'+index" v-model="set.side" />
										<label v-bind:for="'side_two'+index">S2</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s4" v-on:click.stop>
										<input id="xsteps" type="text" class="validate" v-model="set.xSteps">
										<label for="xsteps" class="active">x steps</label>
									</div>
									<div class="input-field col s4" v-on:click.stop>
										<!--<select v-model="set.inOut" class="browser-default">
											<option value="" disabled selected>in/out</option>
											<option value="in">in</option>
											<option value="out">out</option>
										</select>-->
										<input name="inOut" value="in" class="with-gap" type="radio" value="1" v-bind:id="'inOut_in'+index" v-model="set.inOut" />
										<label v-bind:for="'inOut_in'+index">in</label>
										<input name="inOut" value="out" class="with-gap" type="radio" value="2" v-bind:id="'inOut_out'+index" v-model="set.inOut" />
										<label v-bind:for="'inOut_out'+index">out</label>
									</div>
									<div class="input-field col s4" v-on:click.stop>
										<input id="yard" type="text" class="validate" v-model="set.yard">
										<label for="yard" class="active">yard</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s4" v-on:click.stop>
										<input id="ysteps" type="text" class="validate active" v-model="set.ySteps">
										<label for="ysteps">y steps</label>
									</div>
									<div class="input-field col s4" v-on:click.stop>
										<select class="browser-default" v-model="set.frontBack">
											<option value="" disabled selected>front/back</option>
											<option value="front">front</option>
											<option value="behind">behind</option>
										</select>
									</div>
									<div class="input-field col s4" v-on:click.stop>
										<select class="browser-default" v-model="set.yReference">
											<option value="" disabled selected>hash/side</option>
											<option value="FS">FS</option>
											<option value="FH">FH</option>
											<option value="BH">BH</option>
											<option value="BS">BS</option>
										</select>
									</div>
							</form>
						</div>
						<div class="right-align">
							<a class="btn-floating btn-small waves-effect blue" v-on:click.stop="onClickDeleteSet(index)"><i class="material-icons">delete</i></a>
						</div>
					</div>
					<div id="normal" v-else> <!-- standard unexpanded view -->
						<h5>#<b>{{ set.id }}</b>: S{{ set.side }} {{ set.xSteps }} {{ set.inOut }} {{ set.yard }} {{ set.ySteps }} {{ set.frontBack }} {{ set.yReference }} </h5>
						{{ set.text }}
					</div>
				</div>
				</transition-group>
			</div>
		</div>

		</main>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="js/jquery-min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/dots.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>
